# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/components/react-dates
/src/components/react-dates/*
.idea
src/components/react-dates/.babelrc
src/components/react-dates/.eslintignore
src/components/react-dates/.eslintrc
src/components/react-dates/.nycrc
src/components/react-dates/.travis.yml
src/components/react-dates/CHANGELOG.md
src/components/react-dates/constants.js
src/components/react-dates/esm/components/CalendarDay.js
src/components/react-dates/esm/components/CalendarIcon.js
src/components/react-dates/esm/components/CalendarMonth.js
src/components/react-dates/esm/components/CalendarMonthGrid.js
src/components/react-dates/esm/components/CalendarWeek.js
src/components/react-dates/esm/components/ChevronDown.js
src/components/react-dates/esm/components/ChevronUp.js
src/components/react-dates/esm/components/CloseButton.js
src/components/react-dates/esm/components/CustomizableCalendarDay.js
src/components/react-dates/esm/components/DateInput.js
src/components/react-dates/esm/components/DateRangePicker.js
src/components/react-dates/esm/components/DateRangePickerInput.js
src/components/react-dates/esm/components/DateRangePickerInputController.js
src/components/react-dates/esm/components/DayPicker.js
src/components/react-dates/esm/components/DayPickerKeyboardShortcuts.js
src/components/react-dates/esm/components/DayPickerNavigation.js
src/components/react-dates/esm/components/DayPickerRangeController.js
src/components/react-dates/esm/components/DayPickerSingleDateController.js
src/components/react-dates/esm/components/KeyboardShortcutRow.js
src/components/react-dates/esm/components/LeftArrow.js
src/components/react-dates/esm/components/RightArrow.js
src/components/react-dates/esm/components/SingleDatePicker.js
src/components/react-dates/esm/components/SingleDatePickerInput.js
src/components/react-dates/esm/components/SingleDatePickerInputController.js
src/components/react-dates/esm/constants.js
src/components/react-dates/esm/defaultPhrases.js
src/components/react-dates/esm/index.js
src/components/react-dates/esm/initialize.js
src/components/react-dates/esm/shapes/AnchorDirectionShape.js
src/components/react-dates/esm/shapes/CalendarInfoPositionShape.js
src/components/react-dates/esm/shapes/DateRangePickerShape.js
src/components/react-dates/esm/shapes/DayOfWeekShape.js
src/components/react-dates/esm/shapes/DisabledShape.js
src/components/react-dates/esm/shapes/FocusedInputShape.js
src/components/react-dates/esm/shapes/IconPositionShape.js
src/components/react-dates/esm/shapes/ModifiersShape.js
src/components/react-dates/esm/shapes/NavPositionShape.js
src/components/react-dates/esm/shapes/OpenDirectionShape.js
src/components/react-dates/esm/shapes/OrientationShape.js
src/components/react-dates/esm/shapes/ScrollableOrientationShape.js
src/components/react-dates/esm/shapes/SingleDatePickerShape.js
src/components/react-dates/esm/theme/DefaultTheme.js
src/components/react-dates/esm/utils/calculateDimension.js
src/components/react-dates/esm/utils/disableScroll.js
src/components/react-dates/esm/utils/getActiveElement.js
src/components/react-dates/esm/utils/getCalendarDaySettings.js
src/components/react-dates/esm/utils/getCalendarMonthWeeks.js
src/components/react-dates/esm/utils/getCalendarMonthWidth.js
src/components/react-dates/esm/utils/getDetachedContainerStyles.js
src/components/react-dates/esm/utils/getInputHeight.js
src/components/react-dates/esm/utils/getNumberOfCalendarMonthWeeks.js
src/components/react-dates/esm/utils/getPhrase.js
src/components/react-dates/esm/utils/getPhrasePropTypes.js
src/components/react-dates/esm/utils/getPooledMoment.js
src/components/react-dates/esm/utils/getPreviousMonthMemoLast.js
src/components/react-dates/esm/utils/getResponsiveContainerStyles.js
src/components/react-dates/esm/utils/getSelectedDateOffset.js
src/components/react-dates/esm/utils/getTransformStyles.js
src/components/react-dates/esm/utils/getVisibleDays.js
src/components/react-dates/esm/utils/isAfterDay.js
src/components/react-dates/esm/utils/isBeforeDay.js
src/components/react-dates/esm/utils/isDayVisible.js
src/components/react-dates/esm/utils/isInclusivelyAfterDay.js
src/components/react-dates/esm/utils/isInclusivelyBeforeDay.js
src/components/react-dates/esm/utils/isNextDay.js
src/components/react-dates/esm/utils/isNextMonth.js
src/components/react-dates/esm/utils/isPreviousDay.js
src/components/react-dates/esm/utils/isPrevMonth.js
src/components/react-dates/esm/utils/isSameDay.js
src/components/react-dates/esm/utils/isSameMonth.js
src/components/react-dates/esm/utils/isTransitionEndSupported.js
src/components/react-dates/esm/utils/modifiers.js
src/components/react-dates/esm/utils/noflip.js
src/components/react-dates/esm/utils/registerCSSInterfaceWithDefaultTheme.js
src/components/react-dates/esm/utils/registerInterfaceWithDefaultTheme.js
src/components/react-dates/esm/utils/toISODateString.js
src/components/react-dates/esm/utils/toISOMonthString.js
src/components/react-dates/esm/utils/toLocalizedDateString.js
src/components/react-dates/esm/utils/toMomentObject.js
src/components/react-dates/index.js
src/components/react-dates/initialize.js
src/components/react-dates/INTHEWILD.md
src/components/react-dates/karma.conf.js
src/components/react-dates/lib/components/CalendarDay.js
src/components/react-dates/lib/components/CalendarIcon.js
src/components/react-dates/lib/components/CalendarMonth.js
src/components/react-dates/lib/components/CalendarMonthGrid.js
src/components/react-dates/lib/components/CalendarWeek.js
src/components/react-dates/lib/components/ChevronDown.js
src/components/react-dates/lib/components/ChevronUp.js
src/components/react-dates/lib/components/CloseButton.js
src/components/react-dates/lib/components/CustomizableCalendarDay.js
src/components/react-dates/lib/components/DateInput.js
src/components/react-dates/lib/components/DateRangePicker.js
src/components/react-dates/lib/components/DateRangePickerInput.js
src/components/react-dates/lib/components/DateRangePickerInputController.js
src/components/react-dates/lib/components/DayPicker.js
src/components/react-dates/lib/components/DayPickerKeyboardShortcuts.js
src/components/react-dates/lib/components/DayPickerNavigation.js
src/components/react-dates/lib/components/DayPickerRangeController.js
src/components/react-dates/lib/components/DayPickerSingleDateController.js
src/components/react-dates/lib/components/KeyboardShortcutRow.js
src/components/react-dates/lib/components/LeftArrow.js
src/components/react-dates/lib/components/RightArrow.js
src/components/react-dates/lib/components/SingleDatePicker.js
src/components/react-dates/lib/components/SingleDatePickerInput.js
src/components/react-dates/lib/components/SingleDatePickerInputController.js
src/components/react-dates/lib/constants.js
src/components/react-dates/lib/css/_datepicker.css
src/components/react-dates/lib/defaultPhrases.js
src/components/react-dates/lib/index.js
src/components/react-dates/lib/initialize.js
src/components/react-dates/lib/shapes/AnchorDirectionShape.js
src/components/react-dates/lib/shapes/CalendarInfoPositionShape.js
src/components/react-dates/lib/shapes/DateRangePickerShape.js
src/components/react-dates/lib/shapes/DayOfWeekShape.js
src/components/react-dates/lib/shapes/DisabledShape.js
src/components/react-dates/lib/shapes/FocusedInputShape.js
src/components/react-dates/lib/shapes/IconPositionShape.js
src/components/react-dates/lib/shapes/ModifiersShape.js
src/components/react-dates/lib/shapes/NavPositionShape.js
src/components/react-dates/lib/shapes/OpenDirectionShape.js
src/components/react-dates/lib/shapes/OrientationShape.js
src/components/react-dates/lib/shapes/ScrollableOrientationShape.js
src/components/react-dates/lib/shapes/SingleDatePickerShape.js
src/components/react-dates/lib/theme/DefaultTheme.js
src/components/react-dates/lib/utils/calculateDimension.js
src/components/react-dates/lib/utils/disableScroll.js
src/components/react-dates/lib/utils/getActiveElement.js
src/components/react-dates/lib/utils/getCalendarDaySettings.js
src/components/react-dates/lib/utils/getCalendarMonthWeeks.js
src/components/react-dates/lib/utils/getCalendarMonthWidth.js
src/components/react-dates/lib/utils/getDetachedContainerStyles.js
src/components/react-dates/lib/utils/getInputHeight.js
src/components/react-dates/lib/utils/getNumberOfCalendarMonthWeeks.js
src/components/react-dates/lib/utils/getPhrase.js
src/components/react-dates/lib/utils/getPhrasePropTypes.js
src/components/react-dates/lib/utils/getPooledMoment.js
src/components/react-dates/lib/utils/getPreviousMonthMemoLast.js
src/components/react-dates/lib/utils/getResponsiveContainerStyles.js
src/components/react-dates/lib/utils/getSelectedDateOffset.js
src/components/react-dates/lib/utils/getTransformStyles.js
src/components/react-dates/lib/utils/getVisibleDays.js
src/components/react-dates/lib/utils/isAfterDay.js
src/components/react-dates/lib/utils/isBeforeDay.js
src/components/react-dates/lib/utils/isDayVisible.js
src/components/react-dates/lib/utils/isInclusivelyAfterDay.js
src/components/react-dates/lib/utils/isInclusivelyBeforeDay.js
src/components/react-dates/lib/utils/isNextDay.js
src/components/react-dates/lib/utils/isNextMonth.js
src/components/react-dates/lib/utils/isPreviousDay.js
src/components/react-dates/lib/utils/isPrevMonth.js
src/components/react-dates/lib/utils/isSameDay.js
src/components/react-dates/lib/utils/isSameMonth.js
src/components/react-dates/lib/utils/isTransitionEndSupported.js
src/components/react-dates/lib/utils/modifiers.js
src/components/react-dates/lib/utils/noflip.js
src/components/react-dates/lib/utils/registerCSSInterfaceWithDefaultTheme.js
src/components/react-dates/lib/utils/registerInterfaceWithDefaultTheme.js
src/components/react-dates/lib/utils/toISODateString.js
src/components/react-dates/lib/utils/toISOMonthString.js
src/components/react-dates/lib/utils/toLocalizedDateString.js
src/components/react-dates/lib/utils/toMomentObject.js
src/components/react-dates/LICENSE
src/components/react-dates/package.json
src/components/react-dates/README.md
src/components/react-dates/scripts/.eslintrc
src/components/react-dates/scripts/buildCSS.js
src/components/react-dates/scripts/pure-component-fallback.js
src/components/react-dates/scripts/renderAllComponents.jsx
src/components/react-dates/src/components/CalendarDay.jsx
src/components/react-dates/src/components/CalendarIcon.jsx
src/components/react-dates/src/components/CalendarMonth.jsx
src/components/react-dates/src/components/CalendarMonthGrid.jsx
src/components/react-dates/src/components/CalendarWeek.jsx
src/components/react-dates/src/components/ChevronDown.jsx
src/components/react-dates/src/components/ChevronUp.jsx
src/components/react-dates/src/components/CloseButton.jsx
src/components/react-dates/src/components/CustomizableCalendarDay.jsx
src/components/react-dates/src/components/DateInput.jsx
src/components/react-dates/src/components/DateRangePicker.jsx
src/components/react-dates/src/components/DateRangePickerInput.jsx
src/components/react-dates/src/components/DateRangePickerInputController.jsx
src/components/react-dates/src/components/DayPicker.jsx
src/components/react-dates/src/components/DayPickerKeyboardShortcuts.jsx
src/components/react-dates/src/components/DayPickerNavigation.jsx
src/components/react-dates/src/components/DayPickerRangeController.jsx
src/components/react-dates/src/components/DayPickerSingleDateController.jsx
src/components/react-dates/src/components/KeyboardShortcutRow.jsx
src/components/react-dates/src/components/LeftArrow.jsx
src/components/react-dates/src/components/RightArrow.jsx
src/components/react-dates/src/components/SingleDatePicker.jsx
src/components/react-dates/src/components/SingleDatePickerInput.jsx
src/components/react-dates/src/components/SingleDatePickerInputController.jsx
src/components/react-dates/src/constants.js
src/components/react-dates/src/defaultPhrases.js
src/components/react-dates/src/index.js
src/components/react-dates/src/initialize.js
src/components/react-dates/src/shapes/AnchorDirectionShape.js
src/components/react-dates/src/shapes/CalendarInfoPositionShape.js
src/components/react-dates/src/shapes/DateRangePickerShape.js
src/components/react-dates/src/shapes/DayOfWeekShape.js
src/components/react-dates/src/shapes/DisabledShape.js
src/components/react-dates/src/shapes/FocusedInputShape.js
src/components/react-dates/src/shapes/IconPositionShape.js
src/components/react-dates/src/shapes/ModifiersShape.js
src/components/react-dates/src/shapes/NavPositionShape.js
src/components/react-dates/src/shapes/OpenDirectionShape.js
src/components/react-dates/src/shapes/OrientationShape.js
src/components/react-dates/src/shapes/ScrollableOrientationShape.js
src/components/react-dates/src/shapes/SingleDatePickerShape.js
src/components/react-dates/src/svg/arrow-left.svg
src/components/react-dates/src/svg/arrow-right.svg
src/components/react-dates/src/svg/calendar.svg
src/components/react-dates/src/svg/chevron-down.svg
src/components/react-dates/src/svg/chevron-up.svg
src/components/react-dates/src/svg/close.svg
src/components/react-dates/src/theme/DefaultTheme.js
src/components/react-dates/src/utils/calculateDimension.js
src/components/react-dates/src/utils/disableScroll.js
src/components/react-dates/src/utils/getActiveElement.js
src/components/react-dates/src/utils/getCalendarDaySettings.js
src/components/react-dates/src/utils/getCalendarMonthWeeks.js
src/components/react-dates/src/utils/getCalendarMonthWidth.js
src/components/react-dates/src/utils/getDetachedContainerStyles.js
src/components/react-dates/src/utils/getInputHeight.js
src/components/react-dates/src/utils/getNumberOfCalendarMonthWeeks.js
src/components/react-dates/src/utils/getPhrase.jsx
src/components/react-dates/src/utils/getPhrasePropTypes.js
src/components/react-dates/src/utils/getPooledMoment.js
src/components/react-dates/src/utils/getPreviousMonthMemoLast.js
src/components/react-dates/src/utils/getResponsiveContainerStyles.js
src/components/react-dates/src/utils/getSelectedDateOffset.js
src/components/react-dates/src/utils/getTransformStyles.js
src/components/react-dates/src/utils/getVisibleDays.js
src/components/react-dates/src/utils/isAfterDay.js
src/components/react-dates/src/utils/isBeforeDay.js
src/components/react-dates/src/utils/isDayVisible.js
src/components/react-dates/src/utils/isInclusivelyAfterDay.js
src/components/react-dates/src/utils/isInclusivelyBeforeDay.js
src/components/react-dates/src/utils/isNextDay.js
src/components/react-dates/src/utils/isNextMonth.js
src/components/react-dates/src/utils/isPreviousDay.js
src/components/react-dates/src/utils/isPrevMonth.js
src/components/react-dates/src/utils/isSameDay.js
src/components/react-dates/src/utils/isSameMonth.js
src/components/react-dates/src/utils/isTransitionEndSupported.js
src/components/react-dates/src/utils/modifiers.js
src/components/react-dates/src/utils/noflip.js
src/components/react-dates/src/utils/registerCSSInterfaceWithDefaultTheme.js
src/components/react-dates/src/utils/registerInterfaceWithDefaultTheme.js
src/components/react-dates/src/utils/toISODateString.js
src/components/react-dates/src/utils/toISOMonthString.js
src/components/react-dates/src/utils/toLocalizedDateString.js
src/components/react-dates/src/utils/toMomentObject.js
