html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  background-color: #0F0B2C;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Gilroy-Regular, serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
.is-active {
  font-weight: bold;
}

.textHeader {
  font-size: 2.2em;
  font-family: Gilroy-Regular;
  font-weight: bold;
  letter-spacing: 1px;
}

.textHeader::after{
  content: '';
  height: 3.5px;
  width: 100px;
  margin-top: 4px;
  border-radius: 50px;
  display: block;
  background: white;
}

::placeholder{
  font-family: Gilroy-Regular;
  font-size: 1.2em;
}
