.loginWrapper {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  padding: 50px;
  background: #001939;
  box-shadow: #0000004f -7px 8px 15px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  font-family: poppins;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  h1{
    text-align: center;
    margin: 0 0 11px;
    letter-spacing: 2px;
    font-size: 2.2em;
    align-items: center;
  }
  p{
    font-family: Gilroy;
    margin-block-start: 0.5em;
    font-size: 1.1em;
    margin-block-end: 2em;
    opacity: 0.85;
  }
  button{
    margin: 0 20px;
    padding: 10px;
    font-family: Poppins;
    border-radius: 50px;
    /* font-weight: 600; */
    letter-spacing: 2px;
    border: none;
    text-shadow: grey -3px 2px 11px;
    background-color: #1A237E;
    color: white;
    transition: all 0.1s;
  }
  button:hover{
    transform: scale(1.1);
  }
  button:active{
    transform: scale(1);
    border: none;
  }
  button:focus{
    transform: scale(1);
    outline: none;
  }
}